* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
}

header {
    background: #000000a9; /* Header background color */
    color: #ffffff70;
    padding: 20px 0;
    text-align: right;
}
header h1{
    text-align: start;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    justify-items: end;
    gap: 10px;

}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 700;

}
nav ul li a:hover {
    color: #ffffff94;
    text-decoration: none;
    font-weight: 700;
    transition: 0.25s ease;
    box-shadow: 0 2px 1px #333;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px #8d8d8c;
}
section p a{
    color: #333;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin-top: 20px;
    color: #0000007e; /* Accent color for headings */
}

.project {
    margin-bottom: 20px;
}

.send-message{
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    font-weight: bold;

}
.send-message:hover{
    color: #fff;
    background-color: #000;
    box-shadow: 0px 2px 20px #333;
    transition: 0.55s ease;
}


footer {
    text-align: center;
    padding: 10px 0;
    background: #000000; /* Footer background color */
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*
STYLING FOR CONTACT ME PAGE

*/




/*
styling input, textarea fields
*/
input{
    margin-left: 20px;
}

textarea{
    margin-left: 70px;
}


/*
styling button in the contact me page
*/
.final-send-message{
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    font-weight: bold;

}
.final-send-message:hover{
    color: #fff;
    background-color: #000;
    box-shadow: 0px 2px 20px #333;
    transition: 0.55s ease;
}



