* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
}

header {
    background: #000000; /* Header background color */
    color: #ffffff70;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: hsla(0, 0%, 100%, 0.678);
    text-decoration: none;
    font-weight: 700;

}
nav ul li a:hover {
    color: #ffffff94;
    text-decoration: none;
    font-weight: 700;
    transition: 0.25s ease;
    box-shadow: 0 2px 1px #ff9a03;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px #8d8d8c;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin-top: 20px;
    color: #0000007e; /* Accent color for headings */
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #000000; /* Footer background color */
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}